.signika {
  font-family: "Signika", sans-serif;
}

.serif {
  font-family: "Montagu Slab", serif;
}

input[type="text"], textarea {
  color: #000; /* Cambia el color del texto a uno visible, por ejemplo, #000 para negro */
  background-color: #fff; /* Cambia el color de fondo, por ejemplo, #fff para blanco */
}

.tiktok-embed {
  background-color: #c40e0e; /* Cambia esto al color de fondo que desees */
}

img {
  height: 30px;
  width: auto;
}

/* Navbar Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

